# ==============================================================================
# CGV ADMIN FRONTEND - EXAMPLE ENVIRONMENT VARIABLES
# Hướng dẫn:
# - Chạy local: copy thành .env.development
# - Chạy production: copy thành .env.production
# ==============================================================================
# Local: http://localhost:8000
# Prod : http://k8s-cgvprod-kongprox-b0dc6588ff-c408e1f3fa455726.elb.ap-southeast-1.amazonaws.com
VITE_API_GATEWAY_URL=http://localhost:8000
VITE_ENABLE_MOCK_FALLBACK=false